<header>
	<div class="logo">
		<a href="/index.html"><img src="/static/images/logo.png"/></a>
		<div class="select">
			<span id="fdj"><i class="iconfont icon-sousuo"></i></span>
			<input type="text" name="" id="" value="" />
			<a href="/login.html" id="gotologin"><i class="iconfont icon-wode"></i><span id="myid">登录/注册</span></a><span id="exit">/ 退出</span>
			<div id="car"><i class="iconfont icon-gouwudai"></i> 购物车 : <span class="watchNum">0</span></div>
			<div id="box">
				<p>您的购物车里有 <span class="watchNum">0</span> 件商品</p>
				<p>总计<span id="allmoney">¥ 0.00</span></p>
				<a href="/shoppingcar.html">查看购物车</a>
			</div>
		</div>
		
	</div>
	<nav class="top" id="tab">
		<ul class="section">
			<li><a href="javascript:;">男士</a></li>
			<li><a href="javascript:;">女士</a></li>
			<li><a href="javascript:;">场合</a></li>
			<li><a href="javascript:;">价格</a></li>
		</ul>
		<div class="shop noshow">
			<div class="ac">
				<ul>
					<li><a href="/list.html">畅销腕表</a></li>
					<li><a href="/list.html">机械表</a></li>
					<li><a href="/list.html">石英表</a></li>
					<li><a href="/list.html">钢表带</a></li>
					<li><a href="/list.html">皮表带</a></li>
					<li><a href="/list.html">橡胶表带</a></li>
					<li><a href="/list.html">尼龙表带</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="/static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="/static/images/tissot_NBA_xilie.jpg" alt="" /></a>
				</div>
			</div>
			<div >
				<ul>
					<li><a href="/list.html">畅销腕表</a></li>
					<li><a href="/list.html">机械表</a></li>
					<li><a href="/list.html">石英表</a></li>
					<li><a href="/list.html">钢表带</a></li>
					<li><a href="/list.html">皮表带</a></li>
					<li><a href="/list.html">橡胶表带</a></li>
					<li><a href="/list.html">尼龙表带</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="/static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="/static/images/tissot_women_watches.jpg" alt="" /></a>
				</div>
			</div>
			<div >
				<ul>
					<li><a href="javascript:;">运动</a></li>
					<li><a href="javascript:;">休闲</a></li>
					<li><a href="javascript:;">怀旧经典</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="/static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="/static/images/tissot_NBA_xilie.jpg" alt="" /></a>
				</div>
			</div>
			<div >
				<ul>	
					<li><a href="javascript:;">1000-2000</a></li>
					<li><a href="javascript:;">2000-4000</a></li>
					<li><a href="javascript:;">4000-6000</a></li>
					<li><a href="javascript:;">6000-8000</a></li>
					<li><a href="javascript:;">8000-10000</a></li>
					<li><a href="javascript:;">10000以上</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="/static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="/static/images/tissot_NBA_xilie.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</nav>
	<div id="totop">
		<p>↑</p>
	</div>
</header>