<header>
	<div class="logo">
		<div class="select">
			<span><i class="iconfont icon-sousuo"></i></span>
			<input type="" name="" id="" value="" />
			<a href=""><i class="iconfont icon-wode"></i>我的账户</a>
			<div id="car"><i class="iconfont icon-gouwudai"></i> 购物车 : <span>0</span></div>
		</div>
		
	</div>
	<nav class="top" id="tab">
		<ul class="section">
			<li><a href="javascript:;">男士</a></li>
			<li><a href="javascript:;">女士</a></li>
			<li><a href="javascript:;">场合</a></li>
			<li><a href="javascript:;">价格</a></li>
		</ul>
		<div class="shop noshow">
			<div class="ac">
				<ul>
					<li><a href="javascript:;">畅销腕表</a></li>
					<li><a href="javascript:;">机械表</a></li>
					<li><a href="javascript:;">石英表</a></li>
					<li><a href="javascript:;">钢表带</a></li>
					<li><a href="javascript:;">皮表带</a></li>
					<li><a href="javascript:;">橡胶表带</a></li>
					<li><a href="javascript:;">尼龙表带</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="../../static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="../../static/images/tissot_NBA_xilie.jpg" alt="" /></a>
				</div>
			</div>
			<div >
				<ul>
					<li><a href="javascript:;">畅销腕表</a></li>
					<li><a href="javascript:;">机械表</a></li>
					<li><a href="javascript:;">石英表</a></li>
					<li><a href="javascript:;">钢表带</a></li>
					<li><a href="javascript:;">皮表带</a></li>
					<li><a href="javascript:;">橡胶表带</a></li>
					<li><a href="javascript:;">尼龙表带</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="../../static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="../../static/images/tissot_women_watches.jpg" alt="" /></a>
				</div>
			</div>
			<div >
				<ul>
					<li><a href="javascript:;">运动</a></li>
					<li><a href="javascript:;">休闲</a></li>
					<li><a href="javascript:;">怀旧经典</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="../../static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="../../static/images/tissot_NBA_xilie.jpg" alt="" /></a>
				</div>
			</div>
			<div >
				<ul>	
					<li><a href="javascript:;">1000-2000</a></li>
					<li><a href="javascript:;">2000-4000</a></li>
					<li><a href="javascript:;">4000-6000</a></li>
					<li><a href="javascript:;">6000-8000</a></li>
					<li><a href="javascript:;">8000-10000</a></li>
					<li><a href="javascript:;">10000以上</a></li>
				</ul>
				<div class="nav-box">
					<a href=""><img src="../../static/images/shopping_guide_451_140.jpg" alt="" /></a><br />
					<a href=""><img src="../../static/images/tissot_NBA_xilie.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</nav>
</header>